extends layout

block title
  | Authenticate with Hull

block content
  h3 Hull Identity widget
  div(data-hull-widget="identity@hull")

  h3 User logged in ?
  pre#user

block script
  script.
    Hull.on('hull.currentUser', function(user) {
      $.getJSON('/use_hull/user').then(function (json) {
        $('#user').text(JSON.stringify(json));
      })
    });
    Hull.init(!{JSON.stringify(config)});

