!!!
html
  head
    title hull.io - user base demo
  body
    div(data-hull-widget="identity@hull")
    script(src="//code.jquery.com/jquery-2.0.0.js")
    script(src="//js.hull.dev/dist/develop/hull.js")
    script
      Hull.init({
        appId: "50d5b206a5b190d0aa000004",
        orgUrl: "http://super.hullapp.dev",
        userHash: "#{user_hash}"
      });
