extends layout

block title
  | Authenticate with your own userbase

block content
  - if (current_user)
    h3 Hull Identity widget
    div(data-hull-widget="identity@hull")
    h3 User logged in ?
    pre !{JSON.stringify(current_user)}
  - else
    form.form-horizontal(action="#{basePath}/passport")(method="post")
      input#password(name="password")(type="hidden")(value="nevermind the password")
      div.control-group
        label.control-label(for="username") Email
        div.controls
          input#username(name="username")(type="email")(placeholder="Enter an email address")
      div.control-group
        div.controls
          button.btn(type="submit") Login

block script
  script.
    var _loggedIn = false;
    Hull.init(!{JSON.stringify(config)});
    Hull.on('hull.currentUser', function (user) {
      !user && _loggedIn && (window.location = '#{basePath}/logout');
      _loggedIn = user;
    });
